# Ignore .vs folder for Visual Studio
.vs/

# Ignore all build folders
[Bb]in/
[Oo]bj/
[Pp]ublish/
[Dd]ebug/
ShoeDatabase/[Bb]in/
ShoeDatabase/[Oo]bj/
ShoeDatabase/[Pp]ublish/
ShoeDatabase/[Dd]ebug/
ShoeDatabase/obj/

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.exe
*.application

# Ignore .NET SDK options files
*.rsp

# Ignore the ShoeDatabase specific bin and obj folders
ShoeDatabase/bin/
ShoeDatabase/obj/
ShoeDatabase/obj/publish

# Ignore other common files
*.log
*.bak
*.cache
*.swp
*.lock

# Include this file to force versioning empty directories
!.gitignore
