KoOrderRegister/.vs
KoOrderRegister/obj
KoOrderRegister/bin
KoOrerRegister
output
KoOrderRegister/Technical/icon_creator/input
KoOrderRegister/Technical/icon_creator/output

KoOrderRegister/Technical/KoOrderRegister.csproj.bak
KORCore/bin
KORCore/obj
